﻿@model Gallery.Models.PictureViewModels.AlbumViewModel
@{
    ViewData["Title"] = "New album";
}

<h2>New album</h2>

<form asp-controller="Album" asp-action="AddAlbum" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <input type="submit" class="btn btn-primary" value="Add album" />
    </div>
</form>