﻿@using Gallery.Models.PictureViewModels
@model List<AlbumViewModel>
@{
    ViewData["Title"] = "Albums";
}

<h2>Albums</h2>

@foreach(var album in Model)
{
    <a class="btn btn-default" asp-controller="Album" asp-action="Album" asp-route-albumId=@album.Id>@album.Name</a><br />
}
<br />

<button class="btn btn-primary" onclick="showAddingAlbumDialog()">New album</button>
<br />

<div id="addingAlbumModalWindow" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Adding album</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="newAlbumName">Album name</label>
                    <div class="col-sm-7">
                        <input type="text" id="newAlbumName" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addAlbum()">Add album</button>
            </div>
        </div>
    </div>
</div>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back</a>



<script>
    function showAddingAlbumDialog() {
        $("#addingAlbumModalWindow").modal('show');
    }

    function addAlbum() {
        $.ajax({
            type: 'POST',
            url: '/Album/AddAlbum',
            data: {
                'Name': document.getElementById('newAlbumName').value
            },
            dataType: 'html',
            success: function(data) {
                location.reload();
            }
        });
    }
</script>
