﻿@model Gallery.Models.PictureViewModels.AlbumViewModel
@{
    ViewData["Title"] = "Album";
}


<div id="deleteAlbumDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Delete album</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete this album?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="deleteAlbum()">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="form-group">
    <h3>
        <a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.User.Id">@Model.User.Pseudonym</a>
    </h3>
    <h2>Album "@Model.Name"</h2>
</div>

<br />
@if (ViewBag.UserIsAuthenticated && (ViewBag.IsAdmin || ViewBag.CurrentUserId == Model.User.Id))
{
    if (ViewBag.CurrentUserId == Model.User.Id)
    {
        <a class="btn btn-primary" asp-controller="Picture" asp-action="AddPicture" asp-route-albumId="@Model.Id">Add picture</a>
    }
    <a class="btn btn-primary" asp-controller="Album" asp-action="ChangeAlbum" asp-route-id="@Model.Id">Change album</a>
    <button class="btn btn-danger" onclick="showDeleteAlbumDialog()">Delete album</button>
}
<form>
    <a class="btn btn-primary" asp-controller="Album" asp-action="Albums" asp-route-userId="@Model.User.Id">Back</a>
</form>


@if (Model.PictureSearchViewModel.Pictures.Count() > 1)
{
    <hr />
    <button id="SortByTime" type="button" class="btn btn-sm btn-default" onclick="SortByTime()">Post time</button>
    <button id="SortByRating" type="button" class="btn btn-sm btn-default" onclick="SortByRating()">Likes</button>
    <hr />
}

<div id="page">@await Html.PartialAsync("GetAlbumPicturesPage", Model.PictureSearchViewModel)</div>

<div id="progress" style="display:none;">
    <img src="~/images/Spinner.gif" alt="Loading" /> Loading...
</div>
<div id="progressmarker"></div>



<script>
    var _incallback = false;
    var pageNumber = 2;
    var sortOrder = "PostDateTimeDesc";

    $(document).ready(function() {
        $(window).scroll(function() {
            var hT = $('#progressmarker').offset().top,
                hH = $('#progressmarker').outerHeight(),
                wH = $(window).height(),
                wS = $(window).scrollTop();
            if (@Model.PictureSearchViewModel.CountOfPages >= pageNumber &&
                !_incallback) {
                if (wS > (hT + hH - wH)) {
                    GetPage();
                }
            }
        });
    });

    function SortByTime() {
        if (sortOrder === "PostDateTimeDesc") {
            sortOrder = "PostDateTimeAsc";
        } else {
            sortOrder = "PostDateTimeDesc";
        }
        $("#page").empty();
        pageNumber = 1;
        GetPage();
    }

    function SortByRating() {
        if (sortOrder === "RatingDesc") {
            sortOrder = "RatingAsc";
        } else {
            sortOrder = "RatingDesc";
        }
        pageNumber = 1;
        $("#page").empty();
        GetPage();
    }

    function GetPage() {
        _incallback = true;
        $.ajax({
            type: 'GET',
            url: '/Album/GetAlbumPicturesPage',
            data: {
                "albumId": "@Model.Id",
                "page": pageNumber,
                "sortOrder": sortOrder
            },
            dataType: 'html',
            success: function (data) {
                if (data != null) {
                    $("#page").append(data);
                    pageNumber++;
                }
            },
            beforeSend: function () {
                $("#progress").show();
            },
            complete: function () {
                $("#progress").hide();
                _incallback = false;
            },
            error: function () {
                _incallback = false;
            }
        });
    }
</script>

@if (ViewBag.UserIsAuthenticated && (ViewBag.IsAdmin || ViewBag.CurrentUserId == Model.User.Id))
{
    <script>
         function showDeleteAlbumDialog() {
         $("#deleteAlbumDialog").modal('show');
         }

         function deleteAlbum() {
         $.ajax({
             type: 'POST',
             url: '/Album/DeleteAlbum',
             data: {
                 'albumId': "@Model.Id"
                },
                dataType: 'html',
                success: function(data) {
                    window.location.replace("/Album/Albums?userId=@Model.User.Id");
                }
            });
         }
    </script>
}