﻿@model Gallery.Models.PictureViewModels.ChangeAlbumViewModel
@{
    ViewData["Title"] = "Change album";
}

<h2>Change album @Model.Name</h2>

<form asp-controller="Album" asp-action="ChangeAlbum">
    <div asp-validation-summary="All" class="text-danger">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name" class="control-label">New name</label>
            <input type="text" asp-for="Name" class="form-control"/>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Save" /><br/>
            <a class="btn btn-primary" asp-controller="Album" asp-action="Album" asp-route-albumId="@Model.Id">Back</a>
        </div>
    </div>
</form>
