﻿@{
    ViewData["Title"] = "Login Page";
}

<h2>Gallery</h2>

<a class="btn btn-primary" asp-controller="Users" asp-action="UsersList">Users list</a><br />
<a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a><br />
<a class="btn btn-primary" asp-controller="Account" asp-action="Register">Registration</a>