﻿@model Gallery.Models.UserManagingViewModels.UserViewModel
@{
    ViewData["Title"] = "Personal Area";
}

@*<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>*@



<div id="deleteProfileDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Delete profile</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete your profile?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="deleteProfile()">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading"><label asp-for="FirstName"></label></div>
    <div class="panel-body">@Model.FirstName</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><label asp-for="LastName"></label></div>
    <div class="panel-body">@Model.LastName</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><label asp-for="Pseudonym"></label></div>
    <div class="panel-body">@Model.Pseudonym</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><label asp-for="Email"></label></div>
    <div class="panel-body">@Model.Email</div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><label asp-for="Address"></label></div>
    <div class="panel-body">@Model.Address</div>
</div>
<div class="form-group">
    <a class="btn btn-primary" asp-controller="Users" asp-action="Edit" asp-route-id="@Model.Id">Edit information</a>
    <a class="btn btn-primary" asp-controller="Users" asp-action="ChangePassword" asp-route-id="@Model.Id">Change password</a>
    <button class="btn btn-danger" onclick="showDeleteProfileDialog()">Delete profile</button>
</div>

<form>
    <div class="form-group">
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back</a>
    </div>
</form>

<script>
    function showDeleteProfileDialog() {
        $("#deleteProfileDialog").modal('show');
    }

    function deleteProfile() {
        $.ajax({
            type: 'POST',
            url: '/Users/Delete',
            data: {
                'id': "@Model.Id"
            },
            dataType: 'html',
            success: function(data) {
                window.location.replace("/Home/Index");
            }
        });
    }
</script>