﻿@model Gallery.Models.PictureViewModels.PictureViewModel
@{
    ViewData["Title"] = "Delete picture";
}

<h2>Delete picture</h2>

<div class="form-group">
    <img src="@Url.Content(Model.RelativePath)">
</div>

<form asp-controller="Picture" asp-action="DeletePictureForReason" method="post">
    <div class="form-group">
        <input type="hidden" name="pictureId" value="@Model.Id" />
    </div>

    <div class="form-group">
        <input type="text" name="reason" class="form-control" />
    </div>
    <button type="submit" class="btn btn-default">Delete</button>
</form>