﻿@model Gallery.Models.PictureViewModels.PictureViewModel
@{
    ViewData["Title"] = Model.Name;
}

<script src="~/js/signalr.min.js"></script>


<div id="deletePictureDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Delete picture</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete this picture?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="deletePicture()">Yes</button>
            </div>
        </div>
    </div>
</div>

<div id="deletePictureForReasonDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Delete picture</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure want to delete this picture?</p>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="deletePictureReason">Reason</label>
                    <div class="col-sm-7">
                        <input type="text" id="deletePictureReason" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="deletePictureForReason()">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="form-group">
    <h3>
        <a asp-controller="Users" asp-action="Profile" asp-route-id="@Model.UserId">@ViewBag.OwnerPseudonym</a>
    </h3>
    <h3>
        <a asp-controller="Album" asp-action="Album" asp-route-albumId="@Model.Album.Id">@Model.Album.Name</a>
    </h3>
</div>

<div class="form-group">
    <img src="@Url.Content(Model.RelativePath)">

    <div class="container">
        <div class="row">
            <div class="col-sm-1">
                <button type="submit" class="btn btn-sm btn-primary" onclick="changeRating()">
                    <div id="rating">@Model.Ratings.Count likes</div>
                </button>

            </div>
            <div class="col-sm-1">
                @if (ViewBag.UserIsAuthenticated)
                {
                    if (User.IsInRole("admin"))
                    {
                        <button class="btn btn-danger" onclick="showDeletePictureForReasonDialog()">Delete picture</button>
                    }
                    if (ViewBag.CurrentUserId == Model.UserId)
                    {
                        <button class="btn btn-danger" onclick="showDeletePictureDialog()">Delete picture</button>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    @foreach (var tag in Model.TagNames)
    {
        <a class="btn btn-sm btn-default" asp-controller="Search" asp-action="Index" asp-route-searchExpression="@tag">@tag</a>
    }
</div>

<div class="form-group">
    <h2>@Model.Name</h2>
    <h3>@Model.Description</h3>
</div>

<a class="btn btn-default" asp-controller="Picture" asp-action="ViewPictureInFullSize" asp-route-pictureId="@ViewBag.PreviousPictureId">Previous picture</a>
<a class="btn btn-default" asp-controller="Picture" asp-action="ViewPictureInFullSize" asp-route-pictureId="@ViewBag.NextPictureId">Next picture</a>
<br />


@await Html.PartialAsync("~/Views/Comment/GetComments.cshtml", Model)

<script>
    let ratingHubConnection = new signalR.HubConnection("/RatingHub", { useDefaultPath: false });
    let commentHubConnection = new signalR.HubConnection("/CommentHub", { useDefaultPath: false });

    ratingHubConnection.on("Send", function () {
        updateRating();
    });

    commentHubConnection.on("Send", function () {
        updateComments();
    });

    function updateRating() {
        $.ajax({
            type: 'GET',
            url: '/Picture/GetPictureRating',
            data: {
                "pictureId": "@Model.Id"
            },
            dataType: 'json',
            success: function (data) {
                if (data != null) {
                    $("#rating").replaceWith("<div id=\"rating\">" + data["value"] + " likes" + "</div>");
                }
            }
        });
    }

    function changeRating() {
        $.ajax({
            type: 'POST',
            url: '/Rating/ChangeRating',
            data: {
                "pictureId": "@Model.Id"
            },
            dataType: 'json',
            success: function (data) {
                if (data != null) {
                    ratingHubConnection.invoke("Send");
                }
            }
        });
    }


    function updateComments() {
        $.ajax({
            type: 'GET',
            url: '/Comment/GetComments',
            data: {
                "pictureId": "@Model.Id"
            },
            dataType: 'html',
            success: function (data) {
                if (data != null) {
                    $("#comments").replaceWith(data);
                }
            }
        });
    }

    function deleteComment(data) {
        $.ajax({
            type: 'POST',
            url: '/Comment/DeleteComment',
            data: {
                'commentId': data
            },
            success: function() {
                commentHubConnection.invoke("Send");
            }
        });
    }

    function addComment() {
        let comment = document.getElementById("message").value;
        $.ajax({
            type: 'POST',
            url: '/Comment/AddComment',
            data: {
                'pictureId': "@Model.Id",
                'commentText': comment
            },
            success: function () {
                commentHubConnection.invoke("Send");
            }
        });
    }


    ratingHubConnection.start();
    commentHubConnection.start();

</script>



@if (ViewBag.UserIsAuthenticated && ViewBag.CurrentUserId == Model.UserId)
{
    <script>
        function showDeletePictureDialog() {
            $("#deletePictureDialog").modal('show');
        }

        function deletePicture() {
            $.ajax({
                type: 'POST',
                url: '/Picture/DeletePicture',
                data: {
                    'pictureId': "@Model.Id"
                },
                dataType: 'html',
                success: function() {
                    window.location.replace("/Album/Album?albumId=@Model.Album.Id");
                }
            });
        }
    </script>
}



@if (ViewBag.UserIsAuthenticated && User.IsInRole("admin"))
{
    <script>
        function showDeletePictureForReasonDialog() {
            $("#deletePictureForReasonDialog").modal('show');
        }

        function deletePictureForReason() {
            $.ajax({
                type: 'POST',
                url: '/Picture/DeletePictureForReason',
                data: {
                    'pictureId': "@Model.Id",
                    'reason': document.getElementById('deletePictureReason').value
                },
                dataType: 'html',
                success: function() {
                    window.location.replace("/Album/Album?albumId=@Model.Album.Id");
                }
            });
        }
    </script>
}