﻿@model Gallery.Models.PictureViewModels.PictureViewModel

<div id="comments">
    @foreach (var comment in Model.Comments.OrderBy(x => x.PostDateTime))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                @comment.UserPseudonym
                @comment.PostDateTime
                @if (ViewBag.UserIsAuthenticated && (ViewBag.IsAdmin || ViewBag.CurrentUserId == ViewBag.OwnerId || ViewBag.CurrentUserId == comment.UserId))
                {
                    <input type="submit" class="btn btn-sm btn-primary" value="Delete" onclick='deleteComment("@comment.Id")' style="float: right;" />
                }
            </div>
            <div class="panel-body">
                @comment.Context
            </div>
        </div>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <div class="form-group">
            <input id="message" type="text" name="commentText" class="form-control" />
            <button id="sendBtn" class="btn btn-default" onclick="addComment()">Add comment</button>
        </div>
    }
</div>
