﻿@{
    ViewData["Title"] = "Search";
}

@*<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>*@

<h2>Search pictures</h2>

<form asp-controller="Search" asp-action="Search" data-ajax="true" data-ajax-method="post" data-ajax-update="#search">
    <input type="text" name="searchExpression" value="@ViewBag.SearchExpression" />
    <button type="submit" class="btn btn-default">Search</button>
</form>

<div id="search"></div>