﻿@model Gallery.Models.PictureViewModels.PictureSearchViewModel


<button id="SortByUser" type="button" class="btn btn-sm btn-default" onclick="SortByUser()">User</button>
<button id="SortByTime" type="button" class="btn btn-sm btn-default" onclick="SortByTime()">Post time</button>
<button id="SortByRating" type="button" class="btn btn-sm btn-default" onclick="SortByRating()">Likes</button>
<hr/>

<div id="page">@await Html.PartialAsync("GetFoundPicturesPage", Model)</div>

<div id="progress" style="display:none;">
    <img src="~/images/Spinner.gif" alt="Loading" /> Loading...
</div>
<div id="progressmarker"></div>


<script>
    var _incallback = false;
    var pageNumber = 2;
    var sortOrder = "@Model.SortOrder";

    $(window).onload = function() { alert("test") };
    $(window).scroll(function () {
        var hT = $('#progressmarker').offset().top,
            hH = $('#progressmarker').outerHeight(),
            wH = $(window).height(),
            wS = $(window).scrollTop();
        if (@Model.CountOfPages >= pageNumber && !_incallback) {
            if (wS > (hT + hH - wH)) {
                GetPage();
            }
        }
    });

    function SortByUser() {
        if (sortOrder === "UserAsc") {
            sortOrder = "UserDesc";
        } else {
            sortOrder = "UserAsc";
        }
        $("#page").empty();
        pageNumber = 1;
        GetPage();
    }

    function SortByTime() {
        if (sortOrder === "PostDateTimeDesc") {
            sortOrder = "PostDateTimeAsc";
        } else {
            sortOrder = "PostDateTimeDesc";
        }
        $("#page").empty();
        pageNumber = 1;
        GetPage();
    }

    function SortByRating() {
        if (sortOrder === "RatingDesc") {
            sortOrder = "RatingAsc";
        } else {
            sortOrder = "RatingDesc";
        }
        pageNumber = 1;
        $("#page").empty();
        GetPage();
    }

    function GetPage() {
        _incallback = true;
        $.ajax({
            type: 'GET',
            url: '/Search/GetFoundPicturesPage',
            data: {
                "searchExpression": "@ViewBag.SearchExpression",
                "page": pageNumber,
                "sortOrder": sortOrder
            },
            dataType: 'html',
            success: function (data) {
                if (data != null) {
                    $("#page").append(data);
                    pageNumber++;
                }
            },
            beforeSend: function () {
                $("#progress").show();
            },
            complete: function () {
                $("#progress").hide();
                _incallback = false;
            },
            error: function () {
                _incallback = false;
            }
        });
    }
</script>