﻿@model  Gallery.Models.UserManagingViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>Changing password for @Model.Email</h2>
<form asp-action="ChangePassword" asp-controller="Users">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    
    @if (ViewBag.Message != null)
    {
        <p>@ViewBag.Message</p>
        <hr/>
    }
    
    <div class="form-group">
        <label asp-for="OldPassword" class="control-label">Current password</label>
        <input type="password" asp-for="OldPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">New password</label>
        <input type="password" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
        <a class="btn btn-primary" asp-controller="Users" asp-action="UsersList">Back</a>
    </div>
</form>