﻿@model  Gallery.Models.UserManagingViewModels.EditUserViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<form asp-controller="Users" asp-action="Edit">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label><br />
        <input type="text" asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label><br />
        <input type="text" asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Pseudonym" class="control-label"></label><br />
        <input type="text" asp-for="Pseudonym" class="form-control" />
        <span asp-validation-for="Pseudonym"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label><br />
        <input type="text" asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label><br />
        <input type="text" asp-for="Address" class="form-control" />
        <span asp-validation-for="Address"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-default" />
        <a class="btn btn-primary" asp-controller="Home" asp-action="PersonalArea">Back</a>
    </div>
</form>
