﻿@model Gallery.Models.PictureViewModels.PictureSearchViewModel

@foreach (var pic in Model.Pictures)
{
    <a asp-controller="Picture" asp-action="ViewPictureInFullSize" asp-route-pictureId="@pic.Id">
        <img src="@Url.Content(pic.ThumbnailRelativePath)">
    </a>
}
