﻿@model Gallery.Models.UserManagingViewModels.LockUserViewModel
@{
    ViewData["Title"] = "Lock User";
}

<h2>Lock User @Model.FirstName @Model.LastName</h2>
<form asp-controller="Users" asp-action="LockUser">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="BlockReason" class="control-label">Block reason</label>
        <input type="text" asp-for="BlockReason" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Block user" class="btn btn-danger" />
        <a class="btn btn-primary" asp-controller="Users" asp-action="UsersList">Back</a>
    </div>
</form>