﻿@model Gallery.Models.UserManagingViewModels.UserViewModel
@{
    ViewData["Title"] = "Profile";
}

<h2>@Model.Pseudonym profile</h2>

@foreach (var album in Model.Albums)
{
    <a class="btn btn-default" asp-controller="Album" asp-action="Album" asp-route-albumId="@album.Id">@album.Name</a><br />
}
<hr/>

<button id="SortByTime" type="button" class="btn btn-sm btn-default" onclick="SortByTime()">Post time</button>
<button id="SortByRating" type="button" class="btn btn-sm btn-default" onclick="SortByRating()">Likes</button>


<div id="page">@await Html.PartialAsync("GetUserPicturesPage", Model.PictureSearchViewModel)</div>

<div id="progress" style="display:none;">
    <img src="~/images/Spinner.gif" alt="Loading" /> Loading...
</div>
<div id="progressmarker"></div>


<script>
    var _incallback = false;
    var pageNumber = 2;
    var sortOrder = "PostDateTimeDesc";

    $(document).ready(function() {
        $(window).scroll(function() {
            var hT = $('#progressmarker').offset().top,
                hH = $('#progressmarker').outerHeight(),
                wH = $(window).height(),
                wS = $(window).scrollTop();
            if (@Model.PictureSearchViewModel.CountOfPages >= @Model.PictureSearchViewModel.PageNumber &&
                !_incallback) {
                if (wS > (hT + hH - wH)) {
                    GetPage();
                }
            }
        });
    });

    function SortByTime() {
        if (sortOrder === "PostDateTimeDesc") {
            sortOrder = "PostDateTimeAsc";
        } else {
            sortOrder = "PostDateTimeDesc";
        }
        $("#page").empty();
        pageNumber = 1;
        GetPage();
    }

    function SortByRating() {
        if (sortOrder === "RatingDesc") {
            sortOrder = "RatingAsc";
        } else {
            sortOrder = "RatingDesc";
        }
        pageNumber = 1;
        $("#page").empty();
        GetPage();
    }

    function GetPage() {
        _incallback = true;
        $.ajax({
            type: 'GET',
            url: '/Users/GetUserPicturesPage',
            data: {
                "userId": "@Model.Id",
                "page": pageNumber,
                "sortOrder": sortOrder
            },
            dataType: 'html',
            success: function (data) {
                if (data != null) {
                    $("#page").append(data);
                    pageNumber++;
                }
            },
            beforeSend: function () {
                $("#progress").show();
            },
            complete: function () {
                $("#progress").hide();
                _incallback = false;
            },
            error: function () {
                _incallback = false;
            }
        });
    }
</script>