﻿@model List<Gallery.Models.UserManagingViewModels.UserViewModel>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

@foreach(var user in Model)
{
    if (!string.Equals(user.UserName, User.Identity.Name))
    {
        <form>
            <a class="btn btn-default" asp-controller="Users" asp-action="Profile" asp-route-id="@user.Id" method="get">@user.Pseudonym</a>
        </form>
    }
}
<br/>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back</a>