﻿@model List<Gallery.Models.UserManagingViewModels.UserViewModel>

@{
    ViewData["Title"] = "Managing users";
}

<h2>Users</h2>

<table class="table-condensed">
    <tr>
        <th>Full Name</th>
        <th>Pseudonym</th>
        <th>Email</th>
        <th>Address</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.FirstName @user.LastName</td>
            <td>
                <form>
                    <a asp-controller="Users" asp-action="Profile" asp-route-id="@user.Id" method="get">@user.Pseudonym</a>
                </form>
            </td>
            <td>@user.Email</td>
            <td>@user.Address</td>
            @if (user.IsLockedOut)
            {
                <td>The user is locked</td>
            }
            else
            {
                <td>The user isn't locked</td>
            }
            <td>
                <form>
                    <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-sm btn-primary">Edit</a>
                </form>
            </td>
            <td>
                <form>
                    <a asp-controller="Roles" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-sm btn-primary">Rigths</a>
                </form>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-controller="Users" asp-action="ChangePassword" asp-route-id="@user.Id" method="get">Change password</a>
            </td>
            <td>
                <button id="ResetPassword" type="button" class="btn btn-sm btn-primary" onclick="ResetPassword('@user.Email')">Reset password</button>
            </td>
            <td>
                <form>
                    <a class="btn btn-sm btn-danger" asp-action="LockUser" asp-route-id="@user.Id">Lock</a>
                </form>
            </td>
            <td>
                <form asp-action="UnlockUser" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-warning">Unlock</button>
                </form>
            </td>
            <td>
                <form asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
    }
</table>

<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Back</a>


<script>
    function ResetPassword(email) {
        $.ajax({
            type: 'POST',
            url: '/Account/ForgotPassword',
            data: {
                "Email": email
            },
            dataType: 'html',
            success: function (data) {
                alert("Password reset");
            },
            error: function () {
                alert("error while password reset");
            }
        });
    }
</script>