﻿@model Gallery.Models.UserManagingViewModels.LoginViewModel

<h2>Log in</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" class="btn btn-sm btn-primary" value="Login" />
    </div>
    
    <div>
        <a asp-controller="Account" asp-action="ForgotPassword" class="btn btn-default">Forgot password?</a>
    </div>
</form>